<mat-card [style.width.px]="400" [style.height.%]="90" [style.margin-left]="'auto'" [style.margin-top.px]="40">
  <mat-card-header>
    <mat-card-title><h4>Create An Account</h4></mat-card-title>
  </mat-card-header>
  <mat-card-content class="register-container">
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="15px">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" autocomplete="username" required>
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error *ngIf="accountForm.controls.username.errors">Must be at least 4 characters</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" autocomplete="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="accountForm.controls.email.errors">Invalid email address</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" autocomplete="new-password" required>
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="accountForm.controls.password.errors">
          Must be at least 8 characters &
          should contain one number, one character, and one special character
        </mat-error>
        <mat-hint>Reveal password by clicking the eye icon</mat-hint>
      </mat-form-field>
      <div>
        <button type="submit" [disabled]="accountForm.invalid || loading" mat-flat-button color="primary" >
          Sign Up
          <mat-icon *ngIf="loading"><mat-spinner [diameter]="20"></mat-spinner></mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
