<footer class="footer mat-elevation-z1">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button [routerLink]="['/contact']">
        Contact Us
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
