<header class="header mat-elevation-z1">
  <mat-toolbar color="primary" role="navigation">
    <mat-toolbar-row>
      <!--    <button mat-icon-button>-->
      <!--      <mat-icon>menu</mat-icon>-->
      <!--    </button>-->
      <a [routerLink]="['/']" mat-button>
        <h1>Country Pics</h1>
      </a>
      <div fxLayout fxLayoutGap="2.5px">
        <a [routerLink]="['/countries/england']" mat-button>England</a>
        <a [routerLink]="['/countries/france']" mat-button>France</a>
        <a [routerLink]="['/countries/greece']" mat-button>Greece</a>
        <a [routerLink]="['/countries/spain']" mat-button>Spain</a>
      </div>
      <span fxFlex="1 1 auto"></span>
      <a [routerLink]="['/account']" mat-icon-button>
        <mat-icon>perm_identity</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
