<mat-card [style.width.px]="400" [style.height.%]="90" [style.margin-left]="'auto'" [style.margin-top.px]="40">
  <mat-card-header>
    <mat-card-title><h4>Send Us A Message</h4></mat-card-title>
  </mat-card-header>
  <mat-card-content class="register-container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="15px">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" autocomplete="given-name" required>
        <mat-icon matSuffix>badge</mat-icon>
        <mat-error *ngIf="contactForm.controls.firstName.errors">Required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" autocomplete="family-name" required>
        <mat-error *ngIf="contactForm.controls.lastName.errors">Required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" autocomplete="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="contactForm.controls.email.errors">Invalid email address</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Comments</mat-label>
        <textarea matInput formControlName="comments" autocomplete="off" rows="4" cols="50">
        </textarea>
        <mat-icon matSuffix>insert_comment</mat-icon>
      </mat-form-field>
      <div>
        <button type="submit" [disabled]="contactForm.invalid || loading" mat-flat-button color="primary" >
          Send
          <mat-icon *ngIf="loading"><mat-spinner [diameter]="20"></mat-spinner></mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

