<div class="container-fluid">
  <ngb-carousel *ngIf="carouselImages">
    <ng-template ngbSlide *ngFor="let image of carouselImages">
      <div class="wrapper">
        <img [src]="image.src" [alt]="image.alt" />
      </div>
      <div class="carousel-caption">
        <h3>{{image.country}}</h3>
        <p>{{image.alt}}</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
