.country-cards__list {
  list-style: none;
}
.country-cards__item {
  /*width: 400px;*/
  height: 300px;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  background-color: black;
}

.country-cards__item-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
