<div class="country-cards">
  <ul
    class="country-cards__list"
    *ngIf="images"
    gdColumns="repeat(auto, 350px)"
    gdRows="300px"
    gdGap="20px"
  >
    <li class="country-cards__item" *ngFor="let image of images">
      <img class="country-cards__item-image" [src]="image.src" [alt]="image.alt">
    </li>
  </ul>
</div>
